/*
PALETA DE COLOES HEX
verdes
#7EFFBE Principal
#DDFFEE Claro
#35674E Oscuro
rosados
#FF7E95 P
#FFE7EB C
#7E3B47 O*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

header {
  background-color: #7effbe;
}

.contenido-header {
  display: flex;
  height: 450px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
/*Nav de las paginas Crea Online y Tienda*/

nav {
  background: #35674e;
  height: 50px;
  width: 100%;
  position: fixed;
  flex-direction: column;
}
.gatito-menu {
  width: 45px;
  filter: drop-shadow (5px 5px 10px rgb(255, 0, 221));
  mix-blend-mode: multiply;
}

nav ul {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
nav ul li {
  display: inline-block;
  line-height: 50px;
}
nav ul li a {
  color: #fff;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 0px;
  text-decoration: none;
  font-variant-caps: all-small-caps;
}
li a.active,
li a:hover {
  color: #ff7e95;
  transition: 0.5s;
}
.checkbtn {
  width: 550px;
  color: #ddffee;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  filter: brightness(1.5);
  mix-blend-mode: multiply;
}
#check {
  display: none;
}

h1 {
  color: #7e3b47;
  font-size: 40px;
}
h2 {
  color: #7e3b47;
}
.subtit {
  color: #ff7e95;
  font-size: 25px;
}
.gatito-header {
  width: 90px;
  justify-content: center;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

#botonesIngreso {
  display: flex;
}
/*termina el nav*/

.verde {
  background-color: #35674e;
  color: #ff7e95;
  border: none;
  padding: 20px;
  margin: 20px;
  height: 30px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.rosa {
  background-color: #ff7e95;
  color: #35674e;
  border: none;
  padding: 20px;
  margin: 20px;
  height: 30px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  align-items: center;
}
.cartContainer {
  top: 50px;
  right: 1px;
 
  position: fixed;
  text-align-last: end;
}
.carro {
  margin-top: 10px;
  border-bottom-style: groove;
  border-right: groove;
  cursor: pointer;
}

/*carrito cantidad boton arriba rojo*/
.cantidadCarritoDiv {
  display: flex;
}
.cantidad-carrito {
  background-color: #ff7e95;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  position: absolute;
  display: none;
  right: 26px;
}
main {
  background-color: #fffbfb;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  flex-direction: column;
}
.enconstruccion-top {
  display: flex;
  flex-direction: column;
}
.enconstruccion {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*plantillas texto CREA ONLINE*/
.contenido-header-plantilla {
  display: flex;
  height: 250px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: inherit;
  padding-top: 50px;
}
.plantilla-texto {
  padding: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
button {
  border-radius: none;
  margin: 10px;
  border-color: #ddffee !important;
  background-color: #ddffee;
  color: #7e3b47 !important;
  margin-bottom: 25px;
}
button:hover {
  background-color: #fec8d8 !important;
}
.imprimible {
  display: flex;
  justify-content: center;
}
textarea {
  padding: 3%;
  border-color: #ddffee;
  border-width: thick;
  background-color: #fec8d8;
  margin-top: 50px;
}

#citaFamoso_div p {
  color: #7e3b47;
  display: flex;
  border: solid;
  border-color: #ffe7eb;
  padding: 10px;
  margin-left: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

/*cards productos */
.cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  transition: 0.5s;
}
.product-card:hover {
  border-radius: 20px;
  width: 240px;
  margin-top: 15px;
  margin-bottom: 15px;
  transform: scale(1.03);
  transition-duration: 0.4s;
  box-shadow: 0 0 35px 0 #7effbe;
}
.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
}
.product-card .infoProducto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}
.product-card .infoProducto figure {
  margin: 0;
}
.product-card .infoProducto figure img {
  width: 35px;
  height: 35px;
}
.product-card .infoProducto div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-card .infoProducto div p:nth-child() {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}
/*Modal Container - Lista del carro de compras*/

.modal-container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 88vh;
  background-color: #ffe7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
  display: none;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #ff7e95;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-header-title {
  justify-self: center;
}

.modal-header-button {
  cursor: pointer;
  justify-self: end;
}

.modal-container > .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.modal-container > div > img {
  height: 120px;
  width: 120px;
}

.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}

.pagar {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}

/*cruz delete-product del Modal carro*/
.delete-product {
  cursor: pointer;
}

.sumar {
  cursor: pointer;
}
.restar {
  cursor: pointer;
}
/*GIPHY*/

.input_buscar {
  margin-left: 20px;
  background-color: #ffe7eb;
  padding: 5px;
  text-align: center;
  border-color: #7effbe;
}

.botton_giphy {
  background-color: #ff7e95;
  color: #35674e;
  border: none;
  padding: 5px;
  margin: 5px;
  height: 20px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.giphyCards {
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  width: 180px;
  height: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 35px 0 #7effbe;
}

/*FORMULARIO EMAIL*/
.formTitulo {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e3b47;
  flex-direction: column;
  font-size: 22px;
  font-weight: bold;
}
.titComunicate {
  margin-bottom: 15px;
}
#formulario {
  background-color: #fff;
  border: solid;
  border-color: #fec8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20 px;
  margin-bottom: 30px;
}
.items {
  position: relative;
  margin: 45px;
}

.items .inputItem,
.inputItemMess {
  background: #ffe7eb;
  color: #7e3b47;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
  resize: none;
}

.inputItem:focus,
.inputItemMess:focus {
  outline: none;
}

.inputItem:focus ~ .labelItem,
.inputItem:valid ~ .labelItem {
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: #7e3b47;
}

.inputItemMess:focus ~ .labelItem,
.inputItemMess:valid ~ .labelItem {
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: #7e3b47;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: #ff7e95;
  color: #35674e;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
}
/*footer*/
footer {
  background: #7effbe;
  display: flex;
  justify-content: center;
}

.footerTitulo {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e3b47;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 750px) {
  header {
    height: 50%;
  }
  .checkbtn {
    display: block;
  }
  header {
    height: 50%;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #35674e;
    top: 49px;
    left: -100%;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
  }
  nav ul li a {
    font-size: 27px;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
  }
  li a:hover,
  li a.active {
    background: none;
    color: #ff7e95;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .product-card {
    width: 140px;
  }

  .product-card:hover {
    border-radius: 20px;
    width: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    transform: scale(1.03);
    transition-duration: 0.4s;
    box-shadow: 0 0 35px 0 #7effbe;
  }
  .product-card img {
    width: 140px;
    height: 140px;
  }
  .modal-container {
    justify-content: center;
  }
  .modal-container > .modal-content {
    justify-content: space-between;
    width: 100%;
    margin: 2px;
    padding: 8px;
  }
  .modal-container > div > img {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 640px) {
  /*Crea Online*/
  .imprimible {
    height: 300px;
    width: 300px;
    margin-left: 20px;
  }
  .enonstruccion-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 440px) {
  .enconstruccion-top {
    width: 50%;
    justify-content: center;
  }
  .seleccionGif {
    display: none;
  }
}
